html { background-color: black }
body { background: center bottom no-repeat black; }

body {border: 2px solid red}
body.simulacao {border: 2px solid gray}

body.fase-1 { background-image: url('../assets/imagens/fase-1/0.png') }
body.fase-2 { background-image: url('../assets/imagens/fase-2/0.png') }
body.fase-3 { background-image: url('../assets/imagens/fase-3/0.png') }
body.fase-4 { background-image: url('../assets/imagens/fase-4/0.png') }

.venceu .container { background-image: none !important }
.venceu .container * { visibility: hidden; }
body#fase-1.venceu { background-image: url('../assets/imagens/fase-1/vitoria.png') }
body#fase-2.venceu { background-image: url('../assets/imagens/fase-2/vitoria.png') }
body#fase-3.venceu { background-image: url('../assets/imagens/fase-3/vitoria.png') }
body#fase-4.venceu { background-image: url('../assets/imagens/fase-4/vitoria.png') }

#tamanhoSequencia,
#passo { text-align: center }

#resposta {
    color: white;
    background: rgba(0,0,0, 0.6);
    line-height: 62px;
    font-size: 30px;
    position: fixed;
    top: 10px;
    width: 100%;
    left: 0;
}
#resposta.acerto { color: lime; }
#resposta.erro   { color: red; }

.botao {
    border: 1px solid #222;
    outline: none;
    margin: 2px;
    /*padding: 45px;*/
    width: 333px;
    height: 141px;
}
body:not(.simulacao) .botao:hover { border: 1px solid white; cursor: pointer;}
body:not(.simulacao) .botao:active { box-shadow: 0 0 5px cyan; }

#vermelho { background: url('../imagens/botoes/botao1.png') /*red*/    }
#azul     { background: url('../imagens/botoes/botao2.png') /*blue*/   }
#verde    { background: url('../imagens/botoes/botao3.png') /*green*/  }
#amarelo  { background: url('../imagens/botoes/botao4.png') /*yellow*/ }

#vermelho.ativo, body:not(.simulacao) #vermelho:active { background-image: url('../imagens/botoes/botao1 iluminado.png') }
#azul.ativo    , body:not(.simulacao) #azul:active     { background-image: url('../imagens/botoes/botao2 iluminado.png') }
#verde.ativo   , body:not(.simulacao) #verde:active    { background-image: url('../imagens/botoes/botao3 iluminado.png') }
#amarelo.ativo , body:not(.simulacao) #amarelo:active  { background-image: url('../imagens/botoes/botao4 iluminado.png') }

.container {
    padding-top: 460px;

    border: 1px solid silver;
    text-align: center;
    width: 800px;
    height: 800px;
    margin: 0 auto;
    /*background: url('../imagens/totem/pedra sem os botões.png') center bottom no-repeat;*/
}


.invisivel { display: none !important }

.typewriter {
    background: #2f4f4f;
    width: 760px;
    height: 230px;
    position: absolute;
    display: block;
    text-align: left;
    top: 980px;
    margin-left: -10px;
    /*outline: 1px solid red;*/

    color: #fff;
    font-size: 30px;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
}




a#next {
    position: absolute;
    top: 1206px;
    right: 322px;
    height: 44px;
    width: 39px;
    color: transparent;
    z-index: 10;
    display: block;
    background: url('../assets/imagens/botoes/seta para próxima caixa de texto.png') center center no-repeat;
    visibility: visible;
}