html { background-color: black }
body { background: center bottom no-repeat black; }
body#fase-1 { background-image: url('../assets/imagens/fase-1/0.png') }
body#fase-2 { background-image: url('../assets/imagens/fase-2/0.png') }
body#fase-3 { background-image: url('../assets/imagens/fase-3/0.png') }
body#fase-4 { background-image: url('../assets/imagens/fase-4/0.png') }

.venceu .container { background-image: none !important }
.venceu .container * { visibility: hidden; }
body#fase-1.venceu { background-image: url('../assets/imagens/fase-1/vitoria.png') }
body#fase-2.venceu { background-image: url('../assets/imagens/fase-2/vitoria.png') }
body#fase-3.venceu { background-image: url('../assets/imagens/fase-3/vitoria.png') }
body#fase-4.venceu { background-image: url('../assets/imagens/fase-4/vitoria.png') }

#tamanhoSequencia,
#passo { text-align: center }

#resposta {
    color: white;
    background: rgba(0,0,0, 0.6);
    line-height: 62px;
    font-size: 30px;
    position: fixed;
    top: 10px;
    width: 100%;
    left: 0;
}
#resposta.acerto { color: lime; }
#resposta.erro   { color: red; }

.botao {
    border: 1px solid #222;
    outline: none;
    margin: 2px;
    cursor: pointer;
    /*padding: 45px;*/
    width: 333px;
    height: 141px;
}
.botao:hover { border: 1px solid white; }
.botao:active { box-shadow: 0 0 5px cyan; }

#vermelho { background: url('../imagens/botoes/botao1.png') /*red*/    }
#azul     { background: url('../imagens/botoes/botao2.png') /*blue*/   }
#verde    { background: url('../imagens/botoes/botao3.png') /*green*/  }
#amarelo  { background: url('../imagens/botoes/botao4.png') /*yellow*/ }
/*
*/#vermelho.ativo, #vermelho:active { background-image: url('../imagens/botoes/botao1 iluminado.png') }
#azul.ativo    , #azul:active     { background-image: url('../imagens/botoes/botao2 iluminado.png') }
#verde.ativo   , #verde:active    { background-image: url('../imagens/botoes/botao3 iluminado.png') }
#amarelo.ativo , #amarelo:active  { background-image: url('../imagens/botoes/botao4 iluminado.png') }

.container {
    padding-top: 460px;

    border: 1px solid silver;
    text-align: center;
    width: 800px;
    height: 800px;
    margin: 0 auto;
    background: url('../imagens/totem/pedra sem os botões.png') center bottom no-repeat;
}

a#next {
    position: absolute;
    top: 1230px;
    right: 98px;
}

/*body { overflow: hidden; }*/